@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glowing-shadow {
    0% { opacity: 0.4; }
    50% { opacity: 0.8; }
    100% { opacity: 0.4; }
  }
  
  .animate-glowing-shadow {
    animation: glowing-shadow 1ms ease-in-out infinite;
  }